.Rhistory
*~
**/*~
.R
.benchmark
.check
.devel
.test
*.o
*.dll
*.Rout
.RData
*.Rproj*
*.swp
.covr.rds
.future
.ghi
.issues
.local
.results
.make/*.md.rsp
Rplots.pdf
screencast.json
myrecording
docs
.Rdump

